* {
    box-sizing:border-box
  }

h3,
.sectionheader,
.title,
.button-text {
    font-family: 'Epilogue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
}

html, body {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important; 
    overflow-x: hidden;
    
}

h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

body {
    color: rgb(53, 56, 57);
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.navbar-toggler {
    border: none;
}

@media screen and (max-width: 991.98px) {
    .navbar {
        background-color: white !important;
        padding: 0 !important;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    }
    .navbar-collapse {
        right: 0;
        width: auto; /* Adjust width here */
        min-width: 150px; /* Set a minimum width */
    }
    .navbar-collapse .nav-link {
        text-align: right;
    }
    .greeting {
        font-size: 1.8em;
    }
    .typing-container {
        word-spacing: -3px;
    }
    .typing-container .bracket {
        font-size: x-large;
    }
    .typing-container #feature-text {
        font-size: large;
        word-spacing: 0px;
    }
    .navbar-brand .title {
        font-size: x-large;
    }
    .nav-link {
        font-size: medium;
    }
    .subtitle {
        font-size: small;
        text-align: center;
    }
    .titlebuttons {
        gap: 10px;
    }
    .btn-contact {
        font-size: small;
        width: 160px !important;
        margin-bottom: 0 !important;
    }
    .cvtitle {
        font-size: x-large;
        text-align: left;
    }
    .cv-container {
        padding: 0;
    }
    .cvstructure {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-header {
        font-size: large !important;
        margin-top: 15px;
    }
    .section-item {
        padding-inline-start: 20px;
        font-size: small;
    }
    .sectionheader {
        font-size: x-large;
        text-align: left;
        text-underline-offset: 4px !important;
        text-decoration-thickness: 3px !important;
    }
    .sidebar {
        border-right: 0 !important;
    }
    .job-title {
        font-size: medium;
    }
    .job-date {
        font-size: small;
    }
    .link-header {
        font-size: large;
        margin-bottom: 0 !important;
    }
    .link-subtitle {
        font-size: small;
    }

    .contacttitle {
        font-size: x-large;
        text-align: center;
    }
    .contact-address {
        font-size: small;
    }
    .contact-details {
        font-size: small;
    }
    .form-group {
        font-size: small;
        
        #email, #message {
            font-size: small;
            padding: 0.5em;
        }
    }
    .submit-button {
        padding: 0.5em !important;
    }
}

.cvstructure {
    display: flex;
    flex-wrap: wrap;
}

.navbar-toggler-icon {
    font-size: large;
}

.text-muted {
    color: rgb(191, 114, 121) !important;
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
    font-size: 25px;
    word-spacing: 0px;
    letter-spacing: -0.5px;
}

.navbar {
    background-color: rgb(255, 255, 255, 0);
    transition: all 0.3s ease-in;
    word-spacing: -5px;
    -webkit-transition: all 0.3s ease-in;
}

.nav-link {
    font-family: "Albert Sans", sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
    word-spacing: 0px;
}

.nav-extra {
    font-size: 1.1em;
}

.setvisible {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: xx-large;
}

.nav-item .fa {
    color: rgb(53, 56, 57);
}

.nav-item .fa:hover {
    color: #5b5557;
}

.job-title {
    margin-block-end: 0;
}
.job-date {
    margin-block-start: 0 !important; 
    margin-bottom: 0.5rem; 
}

.menu {
    color: rgb(53, 56, 57);
    position: relative;
    margin-bottom: 0 !important;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 60%;
        height: 3px;
        bottom: 0;
        left: 50%;
        background-color: rgb(191, 114, 121);
        transform: translateX(-50%) scaleX(0);
        transition: transform 0.3s ease;
        border-radius: 3px;
    }

    &:hover:before {
        transform: translateX(-50%) scaleX(1);
    }
}

.header {
    background-color: #f2f2f2;
    padding: 0;
}

.subtitle {
    line-height: 1.5;
    word-wrap:normal;
}



.btn-contact {
    border-radius: 5px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    width: 180px;

    &:hover span {
        padding-right: 25px;
    }
    
    & span:after {
        font-family: FontAwesome;
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    &:hover span:after {
        opacity: 1;
        right: 0;
    }  
}

.button-text {
    padding-top: 0.1rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.btn-dark-custom {
    color: #fff;
    background-color: rgb(191, 114, 121);

    & span:after {
        content: "\f07b";
    }

    &:hover {
        color: #ffffff;
    }
}

.btn-clear-custom {
    outline: solid 3px rgb(53, 56, 57);
    outline-offset: -3px;
    color: rgb(53, 56, 57);
    background-color: rgb(255, 255, 255, 0);

    & span:after {
        content: "\f0e0";
    }

    &:hover {
        color: rgb(53, 56, 57);
    }
}

.bracket {
    font-size: 1.3em;
    margin-top: 0;
}




.sectionheader {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(191, 114, 121);
    text-decoration-thickness: 5px;
}

.sidebar {
    border-right: 2px solid #DDDDDD;
    padding-right: 20px;
}





.card {
    max-width: 100%;
    background-color: white;
    text-align: left;
    position: relative;
    transform: scale(.9);
    transition: all .3s;

    &:hover {
        transform: scale(.95);
        box-shadow: 8px 10px rgba(150, 96, 92, 0.32);
    }
}

.card-link {
    color: black;

    &:hover {
        color: black;
    }
}

.card-top {
    max-width: 100%;
    height: 15em;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-top>img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-mid {
    padding: 20px;
    padding-bottom: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    transition: all .3s;
}

.card-mid h4 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-image {
    transition: all .3s;
}

.card:hover .card-image {
    filter: grayscale(100%);
}

.card-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border: none;
}

.card-tag {
    border-radius: 10px;
    background-color: #eed7de;
}



.btn-more span:after {
    content: "\f061" !important;
}

.contactsection {
    background-color: rgb(220, 161, 161);
}

.contact-wrapper {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.contact-form-container {
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}



.form-group {
    margin-bottom: 1rem;
}

input,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    resize: none;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

.submit-button {
    background-color: rgb(191, 114, 121);
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgb(204, 104, 112);
        animation: shadow-pulse 1.5s;
    }
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(200, 69, 91, 0.4);
    }

    100% {
        box-shadow: 0 0 3px 15px rgba(255, 0, 43, 0);
    }
}



.contact-link {
    font-size: 1.2em;
}

.contact-address {
    color: rgb(53, 56, 57);
    text-decoration: none;

    &:hover {
        color: rgb(53, 56, 57);
        background-color: rgb(247, 216, 216);
        border-radius: 10px;
        transition: background-color 0.2s ease-out;
        text-decoration: none;
    }
}